<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.annie.annieforchild">

    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--android:allowBackup="true"-->
    <!--android:hardwareAccelerated="false"-->
    <application
        android:name=".ui.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.annie.annieforchild.installapkdemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="android.max_aspect"

            android:value="2.1" />

        <!--高德地图key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="06a5f30bf7bf1262ab0bdbfed1afa540"></meta-data>


        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="10105d44ff" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--android:configChanges="orientation|screenSize|keyboardHidden"-->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"

            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name="com.amap.api.location.APSService"></service>

        <service
            android:name=".Utils.service.MusicService"
            android:enabled="true"></service>
        <service
            android:name=".Utils.service.MusicService2"
            android:enabled="true"></service>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.VideoActivity_new"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeFullscreen"></activity>
        <activity
            android:name=".Utils.pldroidplayer.PLVideoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeFullscreen"></activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="host1"
                    android:path="/path1"
                    android:port="8080"
                    android:scheme="scheme1" />
            </intent-filter>
        </activity>
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:taskAffinity="Pay.finish"></activity>
        <!--<activity-->
        <!--android:name="com.annie.annieforchild.wxapi.WXEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <activity
            android:name="com.annie.annieforchild.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Logout.finish"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.Details"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyMessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.ExchangeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.my.AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.HelpActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.annie.annieforchild.ui.activity.my.SettingsActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Logout.finish"></activity>
        <activity
            android:name=".ui.activity.my.ToFriendActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.GrindEarActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Radio.finish"></activity>
        <activity
            android:name=".ui.activity.grindEar.SingingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.reading.ReadingActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Radio.finish"></activity>
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.RankingListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.GradeAchievementActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyCollectionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.ChangePhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.child.BindStudentActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Add.Child"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.child.AddChildActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Add.Child"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.lesson.ScheduleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.AddOnlineScheActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.child.ModifyChildActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyNectarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyCoinActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyRecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.TotalScheduleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.ListenSongActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.MyGrindEarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.ExerciseTestActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.activity.my.WebActivity2" />
        <activity
            android:name=".ui.activity.login.ModifyPsdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.FollowTaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.SongTaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.ExerciseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.PracticeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.ChallengeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.pkActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.lesson.MaterialActivity" />
        <activity
            android:name=".ui.activity.lesson.SearchMaterialActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.lesson.SelectMaterialActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.InputActivity"
            android:screenOrientation="user"></activity>
        <activity
            android:name=".ui.activity.GlobalSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.EventActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.SquareActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.RankingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.reading.MyReadingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyExchangeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.MyLevelActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.fragment.spoken.SpokenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.MeiriyiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.QrCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.LeadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.InputBookActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.InputSuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.grindEar.CommitBookActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.IWantListenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.MusicPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.ScheduleActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.TaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyPeriodActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.TaskDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.speaking.MySpeakingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.RecordingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.BankBookActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetWorkActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetSuggestActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Pay.finish"></activity>
        <activity
            android:name=".ui.activity.my.MyCourseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Pay.finish"></activity>
        <activity
            android:name=".ui.activity.net.MyAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.AddAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.BookPlayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.BookPlayActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.ExerciseActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.LessonActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.GiftActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.speaking.SpeakingActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Radio.finish"></activity>
        <activity
            android:name=".ui.activity.XiangXueActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.ReleaseSuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.mains.HomePageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.PayFailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.PaySuccessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetConsultActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetFAQActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetExperienceDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetPreheatClassActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetListenAndReadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.lesson.TaskContentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.PkResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetExpFirstVideoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetExperienceDetail_newActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetSpecialDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.child.AddStudentActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="Add.Child"></activity>
        <activity
            android:name=".ui.activity.my.MyOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.ConfirmOrderActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.NectarRuleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetExperienceDetail_newActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.NetSpecialDetailActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.net.EveryDayTaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.pk.MusicPlayActivity2"
            android:screenOrientation="portrait"
            android:taskAffinity="Radio.finish"></activity>
        <activity
            android:name="com.androidupnpdemo.ui.ScreenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.my.MyCouponActivity"
            android:screenOrientation="portrait"></activity>
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="com.annie.annieforchild.JiGuangReceiver.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.annie.annieforchild.JiGuangReceiver.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.annie.annieforchild" />
            </intent-filter>
        </receiver>
        <!--<receiver-->
            <!--android:name="com.androidupnpdemo.util.PollingReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="ScreenActivity.class"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <service
            android:name="com.androidupnpdemo.service.ClingUpnpService"
            android:exported="false" />

        <service
            android:name="com.androidupnpdemo.service.SystemService"
            android:exported="false" />

        <service
            android:name="com.androidupnpdemo.util.PollingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="PollingService" />
            </intent-filter>
        </service>

    </application>
</manifest>